<h1>Edit Post</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for posts</p>
    <ul>
      <li>Make sure it's correct and detailed.</li>
      <li>All information is sourced.</li>
      <li>Fake news will get you banned.</li>
      <li>Feek free to use Markdown!</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form' %>
    <% if @wiki.user == current_user || current_user.try(:admin?) #current_user || current_user.admin? %>
      <%= link_to "Manage collaborators", wiki_collaborators_path(@wiki), class: "btn btn-info" %>
    <% end %>
    <%= link_to 'Back', wikis_path, class: "pull-right" %>
  </div>
</div>
